@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Shippori+Antique+B1&display=swap');

.topnav {
    background-color: #1E223F;
    overflow: hidden;
    width: auto;
    height: auto;
}
/* Style the links inside the navigation bar */
.topnav a {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  float: right;
  color: #1EA899;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.buttonS :hover{
  background-color: #5FC6BA;
  color: black;
}

.Encabezado {
    font-family: 'Shippori Antique B1', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin: 30px;
    height: 49px;
}
.Subtexto {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-style: regular;
    text-align: center;
    color: black;
    margin-top: 69px;
    webkit-box-sizing: content-box;
    moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0%;
    display: block;
    width: 68%;
    padding-left: 173px;
    left: 0%;
}
.banner{
    background-image: url(../image/banner.jpg);
    background-size: cover;
    background-clip: padding-box;
    width: 100%;
}
a:visited{
	color:#1EA899;
	font-weight: bolder;
}
footer {
    background-color: #1E223F;
    height: 50px;
    margin-top: 9px;
}

footer h5 {
    margin: 0 auto;
    width: 500px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    height: 50px;
    box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
    display: compact;
    max-height: 10px;
}
.contenedor-flexible{
	background-color: #DE5A5A;
	display:flex;
}
.contenedor-flexible>div{
	width: 400px;
	height: 50px;
	background-color: #FFFFFF;
	margin: 10px;
	padding: 30px;
	font-size: 32px;
	text-align: center;
}
* {
    margin: 0;
    webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pic_profile {
    width: 21%;
    display: inline;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: 41px;
    margin-left: 10%;
    float: left;
}
.center {
    text-align: center;
    color: #FFFFFF;
    overflow: auto;
}
.subtitulo {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    text-align: center;
    color: #0A133D;
    margin-top: 11px;
    margin-bottom: -1px;
}
.texto_titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    align-items: center;
    color: white;
    width: 101%;
    height: auto;
    text-align: center;
}
p{
	align-content: center;
	align-self: center;
	align-items: center;
	alignment-baseline: center
}
.marca {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    align-items: center;
    color: white;
    width: 49%;
    height: auto;
    text-align: center;
}
.barra_gris{
    background-color: #EDEDED;
    padding-bottom: 0px;
    text-align: center;
    overflow: hidden;
    webkit-box-sizing: content-box;
    moz-box-sizing: content-box;
    box-sizing: content-box;
}
.sec_gray {
    background-color: #EDEDED;
    margin-top: -29px;
    margin-bottom: -13px;
}
.subtitulo_centro {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    color: #0A133D;
}
.com_ok {
    width: 88%;
    overflow: auto;
	display: inline;
	float:inherit
}
.sec_white {
	background-color: #FFFFFF;
    margin-top: -29px;
    margin-bottom: -13px;
}
.logo_web {
    width: 208px;
    height: auto;
    margin-left: 8px;
    margin-top: 4px;
}
.barra_indice {
 display: flex;
 overflow: auto;
}
.menus {
    margin-top: 1px;
    margin-left: 155px;
}
.a {
    font-style: normal;
    line-height: 0mm;
}

.button {
    background-color: #1EA899;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: white;
    padding-top: 5px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    cursor: pointer;
    border-radius: 93px;
}
.cuadro {
    width: 80%;
    display: block;
}
.pic_cuadros {
    width: 88%;
    height: auto;
}

.tam_ok {
    width: 80%;
}
.barra_white {
	background-color: #FFFFFF;
    padding-bottom: 0px;
    text-align: center;
    overflow: hidden;
    webkit-box-sizing: content-box;
    moz-box-sizing: content-box;
    box-sizing: content-box;
}
.tam_ok2 {
    width: 67%;
}
.subtitulo_bio {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    text-align: center;
    color: #0A133D;
    margin-top: 25px;
    margin-left: 0px;
    width: 82%;
    height: 0%;
    margin-bottom: -49px;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.row > .colt {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.colt {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact_pic {
    width: 15%;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 13px;
    margin-top: 10px;
}






* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
    background-color: white;
    padding-top: 11px;
    padding-right: 11px;
    padding-left: 11px;
    padding-bottom: 11px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 8px 18px;
    background-color: #2F355C;
    cursor: pointer;
    margin-top: 6px;
    color: #EAEAEA;
}

.btn:hover {
    background-color: #20BAA6;
    color: #464646;
}

.titulo_port {
    margin-top: 7px;
    text-align: center;
    color: #1E223F;
    font-size: medium;
}
.text_port {
    text-align: center;
    margin-bottom: 3px;
}
.texto_titulo_black {
	font-family: 'Poppins', sans-serif;
    font-size: 15px;
    align-items: center;
    color: black;
    width: 101%;
    height: auto;
    text-align: center;
}
